src/*.exe
src/kilocoin
src/kilocoind
src/test_kilocoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.kilocoin

# Compilation and Qt preprocessor part
*.qm
kilocoin-qt
Litecoin-Qt.app

# Unit-tests
Makefile.test
kilocoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
